@page
@model soft_eng_major_tp.Pages.Private.DashboardModel
@{
    Layout = "~/Pages/Shared/_WebAppLayout.cshtml";
}

<main>
    <main class="container my-3">
        <section>
            <h5>Summary Details</h5>
            <section class="row">
                <div class="col-3">
                    <div class="card text-light bg-dark mb-3">
                      <div class="card-body">
                        <h5 class="card-title">Games</h5>
                        <p class="card-text">0</p>
                      </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-light bg-dark mb-3">
                      <div class="card-body">
                        <h5 class="card-title">Users</h5>
                        <p class="card-text">0</p>
                      </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-light bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Events</h5>
                            <p class="card-text">0</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card text-light bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Sales</h5>
                            <p class="card-text">0</p>
                        </div>
                    </div>
                </div>
            </section>
            <hr />
        </section>
    </main>
</main>