@page
@model soft_eng_major_tp.Pages.Public.CommunityModel
@{
}

<main>
    <main class="container my-5">
        <main class="row">
            <section class="col-lg-2">
                <div>
                    <a asp-area="" asp-page="" class="text-black" style="text-decoration: none"><p>Home</p></a>
                </div>
                <hr />
                <div>
                    <a asp-area="" asp-page="" class="text-black" style="text-decoration: none"><p>Live</p></a>
                    <a asp-area="" asp-page="" class="text-black" style="text-decoration: none"><p>Gaming</p></a>
                    <a asp-area="" asp-page="" class="text-black" style="text-decoration: none"><p>Discussions</p></a>
                    <a asp-area="" asp-page="" class="text-black" style="text-decoration: none"><p>Wiki</p></a>
                </div>
                <hr />
                <div>
                    <a asp-area="" asp-page="" class="text-black" style="text-decoration: none"><p>Profile</p></a>
                </div>
            </section>
            <section class="col-lg-10">
                <section>
                    <input type="text" placeholder="What's on your Mind?" class="form-control rounded-pill" />
                </section>
                <section>
                    <div class="">
                        <hr />
                        <header class="px-3">
                            <h5><small>Username</small></h5>
                            <p class="text-secondary m-0 p-0">#TagLine</p>
                        </header>
                        <article class="p-3">
                            <div>
                                <big>Post Content</big>
                            </div>
                            <section class="my-3 d-flex gap-3">
                                <div class="d-flex gap-2 align-items-center">
                                    <button class="btn btn-primary btn-sm">Like</button>
                                    <p class="text-secondary m-0 p-0">0</p>
                                </div>
                                <button class="btn btn-primary btn-sm">Share</button>
                            </section>
                        </article>
                    </div>
                    <div class="">
                        <hr />
                        <header class="px-3">
                            <h5><small>Username</small></h5>
                            <p class="text-secondary m-0 p-0">#TagLine</p>
                        </header>
                        <article class="p-3">
                            <div>
                                <big>Post Content</big>
                            </div>
                            <section class="my-3 d-flex gap-3">
                                <div class="d-flex gap-2 align-items-center">
                                    <button class="btn btn-primary btn-sm">Like</button>
                                    <p class="text-secondary m-0 p-0">0</p>
                                </div>
                                <button class="btn btn-primary btn-sm">Share</button>
                            </section>
                        </article>
                    </div>
                    <div class="">
                        <hr />
                        <header class="px-3">
                            <h5><small>Username</small></h5>
                            <p class="text-secondary m-0 p-0">#TagLine</p>
                        </header>
                        <article class="p-3">
                            <div>
                                <big>Post Content</big>
                            </div>
                            <section class="my-3 d-flex gap-3">
                                <div class="d-flex gap-2 align-items-center">
                                    <button class="btn btn-primary btn-sm">Like</button>
                                    <p class="text-secondary m-0 p-0">0</p>
                                </div>
                                <button class="btn btn-primary btn-sm">Share</button>
                            </section>
                        </article>
                    </div>
                    <div class="">
                        <hr />
                        <header class="px-3">
                            <h5><small>Username</small></h5>
                            <p class="text-secondary m-0 p-0">#TagLine</p>
                        </header>
                        <article class="p-3">
                            <div>
                                <big>Post Content</big>
                            </div>
                            <section class="my-3 d-flex gap-3">
                                <div class="d-flex gap-2 align-items-center">
                                    <button class="btn btn-primary btn-sm">Like</button>
                                    <p class="text-secondary m-0 p-0">0</p>
                                </div>
                                <button class="btn btn-primary btn-sm">Share</button>
                            </section>
                        </article>
                    </div>
                    <div class="">
                        <hr />
                        <header class="px-3">
                            <h5><small>Username</small></h5>
                            <p class="text-secondary m-0 p-0">#TagLine</p>
                        </header>
                        <article class="p-3">
                            <div>
                                <big>Post Content</big>
                            </div>
                            <section class="my-3 d-flex gap-3">
                                <div class="d-flex gap-2 align-items-center">
                                    <button class="btn btn-primary btn-sm">Like</button>
                                    <p class="text-secondary m-0 p-0">0</p>
                                </div>
                                <button class="btn btn-primary btn-sm">Share</button>
                            </section>
                        </article>
                    </div>
                </section>
            </section>
        </main>
    </main>
</main>